[Desktop Entry]
Categories=Utility;TextEditor;
Comment=General text editor
Exec=/usr/bin/cute-texteditor %F
Icon=cute-texteditor
Name=Cute Text Editor
GenericName=Cute Text Editor
StartupNotify=false
Type=Application
X-MultipleArgs=false
Comment[zh_CN]=简单好用的文本编辑器
Comment[zh_HK]=簡單好用的文本編輯器
Comment[zh_TW]=簡單好用的文字編輯器
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文本編輯器
GenericName[zh_TW]=文字編輯器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-patch;text/x-adasrc;text/x-chdr;text/x-csrc;text/css;application/x-desktop;text/x-patch;text/x-fortran;text/html;text/x-java;text/x-tex;text/x-makefile;text/x-objcsrc;text/x-pascal;application/x-perl;application/x-perl;application/x-php;text/vnd.wap.wml;text/x-python;application/x-ruby;text/sgml;application/xml;model/vrml;image/svg+xml;application/json;
Name[zh_CN]=文本编辑器
Name[zh_HK]=文本編輯器
Name[zh_TW]=文字編輯器
