[Unit]
Description=Cute Application Launch Booster
After=display-manager.service

[Service]
Type=notify
ExecStart=/usr/bin/cute-appmotor --systemd
Restart=always
RestartSec=1
OOMScoreAdjust=-250

[Install]
WantedBy=default.target