[Desktop Entry]
Name=Screenshot
Name[zh_CN]=截图
Exec=cute-screenshot
Icon=cute-screenshot
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;