[Desktop Entry]
Name=CuteOS Launcher
Comment=Force the cute-launcher window keep in screen area
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=main.js

X-KDE-PluginInfo-Author=revenmartin
X-KDE-PluginInfo-Email=revenmartin@gmail.com
X-KDE-PluginInfo-Name=cutelauncher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-ServiceTypes=KWin/Script
Type=Service
