Source: appmotor
Section: devel
Priority: optional
Maintainer: LingmoOS <2422586862@qq.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               libglib2.0-dev,
               libsystemd-dev,
               libcap-dev,
               libdbus-1-dev
Standards-Version: 1.0.0
Homepage: https://lingmo.org

Package: appmotor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CuteOS Appmotor
