Source: cute-daemon
Section: devel
Priority: optional
Maintainer: LingmoOS <cuteos@foxmail.com>
Build-Depends: 
		cmake,
		libqapt-dev,
		python3-pyinotify,
		qtbase5-dev,
		qtdeclarative5-dev,
		qtquickcontrols2-5-dev,
		libkf5windowsystem-dev,
		debhelper (>= 9)
Standards-Version: 1.0.0.0
Homepage: https://lingmo.org
Rules-Requires-Root: no

Package: cute-daemon
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         python3-pyinotify,
         ${misc:Depends},
         ${shlibs:Depends}
Description: LingmoOS Daemon.
