[Desktop Entry]
Name=Settings
Name[zh_CN]=设置
Exec=ling-settings
Icon=applications-system
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
