Source: ling-wallpapers
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <cuteos@foxmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules
Standards-Version: 1.0.6
Homepage: https://lingmo.org/

Package: ling-wallpapers
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Wallpapers
