[Desktop Entry]
Name=Calculator
Name[zh_CN]=计算器
Exec=/usr/bin/cute-calculator
Icon=cute-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Calculator;
