Source: cute-cursor-themes
Section: kde
Priority: optional
Maintainer: Floating dream <cuteos@foxmail.com> 
Build-Depends:
Standards-Version: 1.0.0
Homepage: https://lingmo.org
Vcs-Git: https://github.com/LingmoOS

Package: cute-cursor-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LingmoOS Cursor Theme
