Source: libcute
Section: devel
Priority: optional
Maintainer: LingmoOS <cuteos@foxmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf5networkmanagerqt-dev,
               libkf5kio-dev,
               libkf5screen-dev,
               libkf5bluezqt-dev,
               modemmanager-qt-dev,
               libqt5sensors5-dev,
               libcanberra-dev,
               libpulse-dev,
               sound-theme-freedesktop,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 1.0.0
Homepage: https://lingmo.org

Package: libcute
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libkf5screen-bin
Description: LingmoOS Library
