Source: lingmoui
Section: devel
Priority: optional
Maintainer: Lingmo OS <support@cuteos.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libxcb1-dev,
               libxcb-shape0-dev,
               libxcb-icccm4-dev,
               libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 1.0.0
Homepage: https://lingmo.org/

Package: lingmoui
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS UIKit
