Source: ling-updator
Section: devel
Priority: optional
Maintainer: Lingmo OS <cuteos@foxmail.com>
Build-Depends:  cmake,
		libqapt-dev,
		qtbase5-dev,
		qtdeclarative5-dev,
		qtquickcontrols2-5-dev,
		qttools5-dev,
		qttools5-dev-tools,
		debhelper (>= 9)
Standards-Version: 1.0.6
Homepage: https://lingmo.org
Rules-Requires-Root: no

Package: ling-updator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LingmoOS Updator.
