[Desktop Entry]
Name=Cute Thumbnail Grid
Comment=

Type=Service
X-KDE-ServiceTypes=KWin/WindowSwitcher

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

Icon=preferences-system-windows-switcher-big-icons
X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=cute_thumbnail
X-KDE-PluginInfo-Version=4
X-KDE-PluginInfo-Website=https://github.com/Zren/kwin-tabbox-thumbnail_grid
X-KDE-PluginInfo-Depends=
