[Desktop Entry]
Name=Package Installer
Name[zh_CN]=软件包安装
Exec=/usr/bin/cute-debinstaller %F
Icon=cute-debinstaller
Terminal=false
Type=Application
Categories=System;
MimeType=application/x-deb;application/x-debian-package;
