Source: cute-texteditor
Section: devel
Priority: optional
Maintainer: LingmoOS Packaging Team <2422586862@qq.com>
Build-Depends: cmake,
               debhelper (>= 9),
			   libkf5syntaxhighlighting-dev
Standards-Version: 1.0.6
Homepage: https://github.com/LingmoOS/texteditor

Package: cute-texteditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LingmoOS Texteditor
