[Desktop Entry]
Version=1.0
Name=Terminal
Name[zh_CN]=终端
Exec=/usr/bin/cute-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
